h1 {
  color: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
  background-color: #fbfbfb;
}

body, input[type="text"], button {
  color: #3b3b3b;
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.inner-blade {
  height: 100%;
}

.blade-header {
  text-align: center;
  color: #0b0b0b;
  white-space: nowrap;
}

div.mat-form-field-infix {
  background-color: #fbfbfb;

  outline: none;
  border-top: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
}

span.mat-select-min-line {
  padding-left: 6px;
}

.grid-layout-custom {
  height: 100%;
}

.mat-list {
  max-height: 80vh;
  width: 100%;
  overflow: auto;
  padding-top: 0px;
  float: left;
  scrollbar-width: thin;
}

.list-item {
  transition: all .2s ease;
  font-weight: bold;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 100%;
  overflow: auto;

  border: 1px solid #8b8b8b;
  border-style: solid none none none;

  background-color: #fbfbfb;
}

.list-item:hover {
  transition: all .2s ease;
  background-color: #ababab;
  color: #fbfbfb;
}

.list-item:active {
  transition: all .2s ease;
  background-color: #0b0b0b;
}

input {
  height: 30px;
  font-size: 22px;
  background-color: #fbfbfb;

  outline: none;
  border-top: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;

  margin-bottom: 1.25em;

  vertical-align: top;

  filter: none;
}

input:focus {
  outline: none;
  border-top: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
}

.searchbar {
  border-right: none;
}

.searchbar:focus {
  border-right: none
}

.mdc-icon-button {
  transition: all .2s ease;
  height: 34px;
  font-size: 28px;
  background-color: #fbfbfb;
  border: 1px solid #0b0b0b;
  float: left;
  color: #0b0b0b;

  vertical-align: top;
}

.mdc-icon-button:hover {
  transition: all .2s ease;
  background-color: #ababab;
  border: 1px solid #0b0b0b;
  color: #fbfbfb;
}

.mdc-icon-button:active {
  transition: all .2s ease;
  background-color: #0b0b0b;
  border: 1px solid #0b0b0b;
  color: #fbfbfb;
}

.left-blade {
  width: 50%;
  height: 100%;
  float: left;
}

.right-blade {
  width: 50%;
  height: 100%;
  float: right;
}

.left-fill-container {
  width: 100%;
  float: left;
  display: flex;
}

.right-fill-container {
  width: 100%;
  float: right;
  display: flex;
}

.left-fixed {
  flex: none;
}

.right-fill {
  width: 100%;
  float: right;
  overflow: hidden;
}

.left-fill {
  width: 100%;
  float: left;
  overflow: hidden;
}

.right-fixed {
  flex: none;
}

.vertical-center {
  margin: 0;
  top: 50%;
  position: relative;
}

.text-button {
  width: auto;
  height: auto;
  padding: 10px 10px 10px 10px;
  display: inline-block;
  text-align: center;
}

table {
  width: 100%;
}

.mat-table {
  height: 100%;
  background-color: #fbfbfb;
}

.mat-row {
  transition: all .2s ease;
  background-color: #fbfbfb;
}

.mat-row:hover {
  transition: all .2s ease;
  background-color: #ababab;
}

.mat-row:hover > .mat-cell {
  transition: all .2s ease;
  color: #fbfbfb;
}

.mat-row:focus {
  transition: all .2s ease;
  color: #fbfbfb;
  background-color: #0b0b0b;
}

.mat-row:focus > .mat-cell {
  transition: all .2s ease;
  color: #fbfbfb;
}

.loading-spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #0b0b0b;
}

.disabled {
  background-color: #d9d9d9;
  color: #8b8b8b;
}
