/* Application-wide Styles */
h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
  background-color: dimgrey;
}

body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.tier-1-blade-header {
  color: #fbfbfb;
}

.top-mgt > div.mat-grid-tile-content {
   align-items: normal;
}

.left-mgt > div.mat-grid-tile-content {
   justify-content: normal;
}

div.mat-form-field-infix {
  background-color: #fbfbfb;
  border-top: 4px solid transparent;
}

.grid-layout-custom {
  height: 100%;
}
