.idea/
.gradle/
build/
dist/

hadb/delta/schema/test_schema.sql
hadb/delta/data/test_data.sql

frontend/dist

.terraform.lock.hcl
.terraform
*.tfstate*

env/cicd/jenkins/agent-images/accesstoken

env/kubernetes/nohup.out
env/kubernetes/deployment.yml
