lombok.nonNull.exceptionType = IllegalArgumentException

lombok.log.apacheCommons.flagUsage=error
lombok.log.log4j.flagUsage=error
lombok.log.log4j2.flagUsage=error
lombok.log.xslf4j.flagUsage=error

lombok.sneakyThrows.flagUsage=warning
lombok.val.flagUsage=warning

lombok.accessors.fluent = false
lombok.accessors.chain = true
