@import "~../../_variables.scss";

.register-input {
  width: 100%;

  box-sizing: border-box;

  color: invert($accent);
  background-color: invert($primary);

  font-size: 30px;
  padding: 0.2em;
  margin-top: 10px;

  border: 1px solid $primary;
}

.register-button {
  margin-top: 10px;
}

.password-required {
  color: invert($accent);
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
}

.register-inner-container {
  margin: 10 auto;
}
