<div style="width:600px;position:relative;">
  <h1 style="text-align:center;" class="tier-1-blade-header">Node Command Center</h1>
  <div>
    <div>
      <input class="searchbar" [(ngModel)]="nodeNameSearchTerm" (ngModelChange)="onSearchTermChange()"/>
      <mat-form-field>
        <mat-select (selectionChange)="roomSelection($event.value)">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let room of rooms" [value]="room.name">{{ room.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button style="float:right;" (click)="refresh()" class="mdc-icon-button">
        <span class="material-icons">refresh</span>
      </button>
    </div>
    <div>
      <mat-list>
        <mat-list-item *ngFor="let node of nodes">
          <div class="node-list-item"><span style="text-align:left">{{ node.name }}</span><span style="float:right">{{ node.room?.name }}</span>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
