mat-list {
  max-height: 1000px;
  overflow: auto;
  padding-top: 0px;
}

mat-list-item {
  border: 1px black solid;
  border-style: solid none none none;
  background-color: #fbfbfb;
}

mat-list-item:hover {
  background-color: #6d6d6d;
  color: white;
}

.node-list-item {
  min-width: 100%;
  overflow: auto;
}

.searchbar {
  height: 30px;
  font-size: 24px;
  background-color: #fbfbfb;
  width: 62%;

  outline: none;
  border-top: 1px solid dimgrey;
  border-left: 1px solid dimgrey;
  border-bottom: 1px solid dimgrey;
  border-right: none;

  vertical-align: top;
}

.searchbar:focus {
    outline: none;
    border-top: 1px solid dimgrey;
    border-left: 1px solid dimgrey;
    border-bottom: 1px solid dimgrey;
    border-right: none
}

.mdc-icon-button {
  height: 34px;
  font-size: 28px;
  background-color: #eeeeee;
  border: 1px solid dimgrey;

  vertical-align: top;
}

.mdc-icon-button:hover {
  background-color: #aaaaaa;
}
