<div class="left-blade">
  <h1 class="blade-header">Node Command Center</h1>
  <div class="left-fill-container">
    <input class="searchbar left-fill" (keypress)="omitSpecialChar($event)" [(ngModel)]="nodeNameSearchTerm" (ngModelChange)="filter()"/>
    <div class="right-fixed">
      <mat-form-field class="room-selection">
        <mat-select [(ngModel)]="roomNameSearchTerm" (ngModelChange)="filter()">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let room of rooms" [value]="room.name">{{ room.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button (click)="clearSearchBar()" class="mdc-icon-button">
        <span class="material-icons">close</span>
      </button>
      <button mat-flat-button (click)="refresh()" class="mdc-icon-button">
        <span class="material-icons">refresh</span>
      </button>
    </div>
  </div>
  <div>
    <mat-action-list>
      <button mat-flat-button class="list-item" *ngFor="let node of filteredNodes" (click)="setActiveNode(node)">
        <span style="text-align:left;float:left;">{{ node.name }}</span><span style="text-align:right;float:right;">{{ node.room?.name }}</span>
      </button>
    </mat-action-list>
  </div>
</div>
<div class="right-blade">
  <div *ngIf="activeNode != null">
    <app-node-action [setNode]="getActiveNode()"></app-node-action>
  </div>
</div>
