mat-list {
  max-height: 1000px;
  overflow: auto;
  padding-top: 0px;
}

mat-list-item {
  border: 1px black solid;
  border-style: solid none none none;
  background-color: #fbfbfb;
}

mat-list-item:hover {
  background-color: #6d6d6d;
  color: white;
}

.node-list-item {
  min-width: 100%;
  overflow: auto;
}

.searchbar {
  height: 30px;
  font-size: 24px;
  margin-bottom: 5px;
  background-color: #fbfbfb;
  width: 68%;
}
