@import "~../../_variables.scss";

.login-outer-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.inner-container {
  width: 40%;
  height: 360px;
  margin: 10 auto;
}
