<table mat-table [dataSource]="datasource">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef style="text-align:left;" class="column-header">{{ nameHeader }}</th>
    <td mat-cell *matCellDef="let rowObject" class="name-label">{{ nameGetter(rowObject) }}</td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef style="text-align:right;" class="column-header">{{ valueHeader }}</th>
    <td mat-cell *matCellDef="let rowObject">
      <div [ngClass]="{'list-pushdown': isListField(rowObject)}" class="left-fill-container">
        <input matInput class="left-fill string-input" *ngIf="isStringField(rowObject)"
               [ngModel]="getValue(rowObject)"
               (ngModelChange)="setValue(rowObject, $event)"
               (click)="consumeEvent($event)">
        <input matInput type="number" class="left-fill number-input" *ngIf="isNumberField(rowObject)"
               [ngModel]="getValue(rowObject)"
               (ngModelChange)="setValue(rowObject, $event)"
               (click)="consumeEvent($event)"
               (keypress)="onlyNumeric($event)">
        <mat-form-field *ngIf="isListField(rowObject)" class="left-fill vertical-center" (click)="consumeEvent($event)">
          <mat-select [ngModel]="getValue(rowObject)" (ngModelChange)="setValue(rowObject, $event)" (click)="consumeEvent($event)" class="list-input">
            <mat-option *ngIf="listValueAllowsEmpty(rowObject)" value=""></mat-option>
            <mat-option *ngFor="let listValue of getListValues(rowObject)" [value]="listValue">{{ listValue }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button (click)="defaulter(rowObject); consumeEvent($event)" class="mdc-icon-button right-fixed refresh-button">
          <span class="material-icons">cached</span>
        </button>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row
      [ngClass]="{'selected': getSelectedRow() == row.rowNum}"
      (click)="highlight(row.rowNum)"
      *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
