.column-header {
  font-size: 16px;
}

.name-label {
  font-size: 18px;
}

.string-input {
  text-align: right;
}

.number-input {
  text-align: right;
}

.list-input {
  text-align: right;
}

.selected {
  transition: color background-color .2s ease;
  background-color: #0b0b0b;
  color: #fbfbfb;
}

.selected > .mat-cell {
  color: #fbfbfb;
}

.disabled {
  background-color: #8b8b8b;
  color: #fbfbfb;
}

.refresh-button {
  text-align: center;
  vertical-align: middle;
  width: 31px;
  height: 31px;
}

.mdc-icon-button {
  font-size: 18px;
}

input {
  margin: auto;
  height: 27px;
}

.list-pushdown {
  margin-top: 1.25em;
}
