@import "~../../_variables.scss";

.navbar {
  width: 5vw;
  height: 100vh;
  float: left;

  background-color: invert($primary);
}

.nav-button {
  width: 100%;
  height: 5vw;

  padding: 0px;
}

.selected-nav {
  background-color: $select;
}

mat-icon {
  width: 100%;
  height: 100%;

  line-height: 5vw;

  font-size: 4vw;
  text-align: center;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 0px;
}
