.selector {
  float: left;
  width: 100px;
  height: 100%;
  background-color: dimgrey;
  border-right: 1px solid #0b0b0b;
  margin-right: 20px;
}

.app-selector {
  font-size: 90px;
  color: dimgrey;
}

.inner-blade-container {
  height: 100%;
  overflow: hidden;
}

.mdc-icon-button {
  width: 100%;
  height: 100px;
  background-color: #eeeeee;
  border: none;
}

.mdc-icon-button:hover {
  transition: all .2s ease;
  background-color: #aaaaaa;
  border: none;
}
