.selector {
  float: left;
  width: 100px;
  height: 100%;
  background-color: #fbfbfb;
  border-right: 1px solid #0b0b0b;
}

.app-selector {
  font-size: 90px;
}

.inner-blade-container {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.mdc-icon-button {
  width: 100%;
  height: 100px;
  border: none;
}

.mdc-icon-button:hover {
  transition: all .2s ease;
}

.mdc-icon-button:active {
  transition: all .2s ease;
}
