<div class="settings-container">
  <div *ngIf="settings && settings.length > 0" class="settings-table-container">
    <table mat-table [dataSource]="settings">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;" class="column-header">Setting Name</th>
        <td mat-cell *matCellDef="let setting" class="setting-label">{{ setting.name }}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;" class="column-header">Value</th>
        <td mat-cell *matCellDef="let setting">
          <input matInput class="left-fill vertical-center setting-input" *ngIf="isSettingTextField(setting)" [(ngModel)]="setting.value">
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div style="float:right;padding-top:20px;">
    <button mat-flat-button (click)="save()" class="mdc-icon-button text-button">
      <span class="material-icons">done</span>&nbsp;&nbsp;<span>Save</span>
    </button>
    <button mat-flat-button (click)="reset()" style="margin-right:20px;" class="mdc-icon-button text-button">
      <span class="material-icons">cached</span>&nbsp;&nbsp;<span>Defaults</span>
    </button>
  </div>
</div>
