<div class="settings-container">
  <div *ngIf="settings && settings.length > 0" class="settings-table-container">
    <table mat-table [dataSource]="settings">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="text-align:left;" class="column-header">Setting Name</th>
        <td mat-cell *matCellDef="let setting" class="setting-label">{{ setting.name }}</td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef style="text-align:right;" class="column-header">Value</th>
        <td mat-cell *matCellDef="let setting">
          <!--     ngIf clauses should only show one input per setting     -->
          <input matInput class="left-fill vertical-center setting-input" *ngIf="setting.type === 'string'" [(ngModel)]="setting.value">
          <input matInput type="number" class="left-fill vertical-center setting-input" *ngIf="setting.type === 'number'" [(ngModel)]="setting.value">
          <mat-form-field *ngIf="setting.type === 'list'" class="room-selection">
            <mat-select [(ngModel)]="setting.value">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let listValue of setting.getListAndSetDefaultValue(setting)[1]" [value]="listValue">{{ listValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div style="float:right;padding-top:20px;">
    <button mat-flat-button (click)="save()" class="mdc-icon-button text-button">
      <span class="material-icons">done</span><span>Save</span>
    </button>
    <button mat-flat-button (click)="reset()" style="margin-right:20px;" class="mdc-icon-button text-button">
      <span class="material-icons">cached</span><span>Defaults</span>
    </button>
  </div>
</div>
