<div fxLayout="row" fxLayoutAlign="space-between center" class="top-button-container">
  <div fxLayout="row" fxLayoutAlign="start end" class="node-save-container">
    <button mat-flat-button
            matTooltip="Save the current changes"
            matTooltipPosition="above"
            (click)="save()"
            class="mdc-icon-button menu-button">
      <mat-icon>done</mat-icon>
    </button>
    <button mat-flat-button
            matTooltip="Reset the current changes"
            matTooltipPosition="above"
            (click)="resetAll()"
            class="mdc-icon-button menu-button">
      <mat-icon>cached</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="start end">
    <button mat-flat-button
            *ngIf="selectedActionRow !== -1"
            matTooltip="Run the currently selected action with the given parameter values"
            matTooltipPosition="above"
            (click)="executeAction()"
            class="mdc-icon-button menu-button">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
