@import "~../../styles.scss";

.typed-editable-table {
  min-width: 100%;
  width: 100%;
}

.selected {
  transition: 0.1s all ease;
  background-color: $select;
}

.table-cell {
  padding-top: 10px;
}
