@import "~../../_variables.scss";

.login-input {
  width: 100%;

  box-sizing: border-box;

  color: invert($accent);
  background-color: invert($primary);

  font-size: 30px;
  padding: 0.2em;
  margin-top: 10px;

  border: 1px solid $primary;
}

.login-button {
  margin-top: 10px;
}

.login-inner-container {
  margin: 10 auto;
}
