.action-param-container {
  margin-left: 20px;

  width: 100%;
  height: 100%;
}

.action-param-table-container {
  margin: auto;
  margin-bottom: 20px;
  background-color: #fbfbfb;
  max-height: 70vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.column-header {
  font-size: 16px;
}

.action-param-label {
  font-size: 18px;
}

.action-param-input {
  text-align: right;
}

.middle-button-div {
  padding-top: 10px;
  display: flex;

  width: 100%;

  align-items: center;
}

.bottom-button-div {
  padding-top: 10px;
  display: flex;

  width: 100%;

  align-items: center;
}

.no-params-text {
  padding-left: 10px;
  width: auto;
  height: auto;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  float: right;
  font-size: 22px;
}

.add-remove-button {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

.run-button {
  padding-left: 15px;
  padding-right: 15px;
}

.selected {
  transition: color background-color .2s ease;
  background-color: #0b0b0b;
  color: #fbfbfb;
}

.selected > .mat-cell {
  color: #fbfbfb;
}

.disabled {
  background-color: #d9d9d9;
  color: #8b8b8b;
}

.list-input .mat-option {
  font-size: 28px;
}
