<div class="action-param-container">
  <h1 class="blade-header">{{ nodeAction?.name }}</h1>
  <div *ngIf="nodeAction && nodeAction.parameters && nodeAction.parameters.length > 0" class="action-param-table-container">
    <app-typed-editable-table [datasource]="parameters"
                              [nameHeader]="nameHeader"
                              [valueHeader]="valueHeader"
                              [getValue]="getValue"
                              [setValue]="setValue"
                              [getName]="getName"
                              [objectTypeDefGetter]="getObjectTypeDef"
                              [defaultSetter]="setDefault"
                              [selectedRowGetter]="getSelectedRow"
                              [selectedRowSetter]="setSelectedRow"
                              (selectedRowEmitter)="setSelectedRow($event)">
    </app-typed-editable-table>
  </div>
  <div class="bottom-button-container">
    <div style="float:left;" class="right-fill-container">
      <mat-form-field class="new-param-type-selection left-fixed">
        <mat-select [(ngModel)]="newParameterType" (selectionChange)="resetNewParameterDefault($event)">
          <mat-option value=""></mat-option>
          <mat-option *ngFor="let actionParameterType of actionParameterTypes" [value]="actionParameterType">{{ actionParameterType.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <input matInput placeholder="Name"
             [(ngModel)]="newParameterName"
             class="vertical-center action-param-name-input left-fixed">
      <input matInput
             *ngIf="isStringTypeSelected(newParameterType)"
             [(ngModel)]="newParameterDefaultValue"
             (click)="consumeEvent($event)"
             placeholder="Default Value"
             class="vertical-center string-input action-param-default-value-input right-fill" />
      <input matInput type="number"
             *ngIf="isNumberTypeSelected(newParameterType)"
             [(ngModel)]="newParameterDefaultValue"
             (click)="consumeEvent($event)"
             (keypress)="onlyNumeric($event)"
             class="vertical-center number-input action-param-default-value-input right-fill" />
      <mat-form-field *ngIf="isListTypeSelected(newParameterType)" class="vertical-center action-param-default-value-input right-fill" (click)="consumeEvent($event)">
        <mat-select [(ngModel)]="newParameterDefaultValue" (click)="consumeEvent($event)" panelClass="list-input right-fill">
          <mat-option *ngIf="listValueAllowsEmpty(newParameterType)" value=""></mat-option>
          <mat-option *ngFor="let listValue of getListValues(newParameterType)" [value]="listValue">{{ listValue }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div style="width:100%;">
      <div class="left-fill-container">
        <div class="left-fill"></div>
        <div class="right-fixed">
          <button mat-flat-button (click)="add()"
                  class="mdc-icon-button text-button add-remove-button">
            <span class="material-icons">add</span>
          </button>
          <button mat-flat-button
                  [disabled]="selectedRow === -1"
                  [ngClass]="{'disabled': selectedRow === -1}"
                  (click)="removeSelected()"
                  *ngIf="nodeAction && parameters && parameters.length > 0"
                  class="mdc-icon-button text-button add-remove-button">
            <span class="material-icons">clear</span>
          </button>
        </div>
      </div>
    </div>
    <div class="left-fill-container">
      <div class="left-fill"></div>
      <div style="align-items:center;" class="run-button-container right-fixed">
        <button mat-flat-button
                (click)="runActionWithParams()"
                style="float:right;"
                class="mdc-icon-button text-button run-button">
          <span class="material-icons" style="padding-right:5px;">send</span><span>Run</span>
        </button>
        <span *ngIf="!nodeAction || !nodeAction.parameters || nodeAction.parameters.length == 0" style="float:right;" class="no-params-text">This action doesn't accept parameters.</span>
      </div>
    </div>
  </div>
</div>
